* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* /10px / 16px = 0.625 =0 62.5  */
    font-size: 62.5%;
    /* font-size: 10px; */
}

body {
    font-family: 'poppins';
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 141rem;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}




/**********header**********/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s;
    z-index: 11;
}

#main-header a {
    color: #fff;
}

header .container {
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li:hover {
    background-color: rgba(28, 35, 58, 0.785);
    /* border-radius: 1rem;  */
    color: #000;
}

header nav ul li ul li,
header nav ul li ul li a {
    width: 100%;
    padding: 1rem;
}


header nav ul li li ul {
    position: absolute;
    top: 0;
    left: 16.2rem;
}

header nav ul li {
    position: relative;
}

header nav ul li ul {
    /* display: block; */
    position: absolute;
    top: 6.2rem;
    left: 0;
    background-color: rgba(28, 35, 58, 0.4);
    display: none;  
    font-size: 2rem;

}

header nav ul li:hover>ul {
    display: inline-block;
}



header nav ul li a {
    color: #fff;
    font-size: 1.8rem;
    /* padding-left: 1.5rem; */
}

header nav ul li {
    display: inline-block;
    padding: 2rem 3.3rem;
}

header nav {
    margin-left: auto;
}

header .search {
    color: #fff;
    font-size: 1.5rem;
    padding-left: 3.3rem;
}

.container nav>i,
#menu>i {
    display: none;
}

nav ul li a:hover i{
    transform: rotate(90deg);
    transition: all 0.5s;
}

nav ul li ul li:hover i{
    transform: rotate(90deg);
    transition: all 0.5s;
}

.dark-header {
    background-color: #000;
}

/* 
@media screen and (max-width:768px) {
    nav>ul {
        position: absolute;
        width: 70%;
        height: 100vh;
        background-color: skyblue;
        top: 0;
        right: 0;
        transition: all 1s;
    }
    header nav ul li {
        display: block;
    }
    header nav ul li ul,
    header nav ul li ul li ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    header nav ul li ul li>a {
        padding-left: 40px;
    }
    header nav ul li ul li ul li>a {
        padding-left: 60px;
    }
    header nav ul li a {
        width: 100%;
    }
    nav ul>i {
        padding: 20px;
        font-size: 20px;
        float: right;
        z-index: 999;
        position: relative;
        display: inline-block !important;
    }
    nav>i {
        font-size: 20px;
        padding: 20px;
        display: inline-block !important;
    }
    .showHide {
        right: -70%;
    }
} */

/****************************/

/***********hero section*********/

#hero {
    background: url(../image/photographer-hand-holding-camera-standing-viewpoint-clouds-panorama-viewpoint-sunrise.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

#hero::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0 0 0 / 0.4);
}

.hero-data {
    position: absolute;
    top: 30%;
}


.hero-data h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 110px;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.hero-data p {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #CFCFCF;
    margin-bottom: 3rem;
}

.hero-data span {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #ECECEC;
}

#hero .search-data {
    width: 73.6rem;
    height: 7.8rem;
    border-radius: 7.2rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem 1rem 1rem 2.3rem;
    margin-bottom: 3rem;
}

#hero .search-data select {
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #9B9B9B;
    background: none;
    line-height: 3.6rem;
    outline: none;
    font-family: 'poppins';
}

#hero .search-data .explore-btn {
    border: none;
    padding: 1.8rem 3rem;
    background-color: #000;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 7.2rem;
    font-weight: bold;
}


/***********************************/



/*******explore titel***********/

#explore {
    margin: 17.8rem 0;
}

.main-titel h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #020202;
    margin-bottom: 3rem;
}

.main-titel p {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #878787;
}



.explore-slider .swiper-slide:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
    transform: translateY(-1rem);
    transition: all 0.5s;
}

.swiper-slide {
    border-radius: 1rem;
    padding-top: 5rem;
}

.swiper-slide .card-img {
    height: 36rem;
}

.swiper-slide .card-img img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.swiper-wrapper {
    padding: 60px 0;
}

.explore-slider .card-text {
    position: relative;
    padding-left: 1.4rem;
    padding-bottom: 2.6rem;
}

.explore-slider .card-text h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.explore-slider .card-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #555555;
}

.explore-slider .card-text .explore-circle {
    width: 8rem;
    height: 7.6rem;
    border-radius: 50%;
    position: absolute;
    top: -7rem;
    right: 3rem;
    background-color: #fff;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 14%);
}

.explore-slider .card-text .explore-circle span {
    font-weight: 400;
    font-size: 6rem;
    color: #000;
    text-align: center;
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 5;
}

.swiper-wrapper .card-text {
    opacity: 0;
    border-radius: 0 0 1rem 1rem;

}

.explore-slider .swiper-slide:hover .card-text {
    opacity: 1;
}


.explore-slider .swiper-slide:hover .card-img img {
    border-radius: 1rem 1rem 0 0;
    height: 32rem;
}

.explore-slider-section {
    position: relative;

}

.explore-slider-section .swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 2rem;
}


.explore-slider-section .swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 0;
    width: 7rem;
    height: 7rem;
    color: #000;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 10%);
}



/**********************************/

/*****why*****/
#why {
    background-size: 100% 50rem;
    background-image: url(../image/pexels-mengliu-di-3064079.jpg);
    background-repeat: no-repeat;
    position: relative;
}

#why::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0 0 0 / 0.4);
    height: 50rem;
    
}

#why .why_data{
    position: relative;
    z-index: 9;
}

#why .why_data h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 2.6rem;
}

#why .why_data p {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #EFEFEF;
}

.main-titel1 h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    margin-bottom: 3rem;
    padding-top: 6.6rem;
}

.main-titel1 p {
    font-weight: 500;
    font-size: 18px;
    line-height: 34 px;
    text-align: center;
    color: #878787;
}

#why .swiper-slide .why_images {
    box-shadow: 0px 8px 60px 0 rgba(0, 0, 0, 15%);
}

.why_btn .prev-1,
.why_btn .next-1 {
    z-index: 9;
    position: absolute;
    top: -9rem;
    width: 7rem;
    height: 6.6rem;
    box-shadow: 0px 8px 60px 0 rgba(0, 0, 0, 15%);
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 3rem;
    padding-top: 3.5px;
    text-align: center;
    line-height: 6.5rem;
    cursor: pointer;
}

#why .why_btn {
    position: relative;
    margin-top: 100px;
}

.why_btn .prev-1 {
    left: 0;
    color: #737373;
}

.why_btn .next-1 {
    right: 0;
    color: #737373;
}

.why_slider .swiper-slide .why_desc h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;

}

.why_slider .swiper-slide .why_desc p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #858585;
    margin-top: 15px;


}

.why_slider .swiper-slide .why_desc a {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    position: absolute;
    display: flex;
    margin-top: 25px;
}

.why_images {
    margin: 0 80px;
    height: 430.75px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}
.why_desc img {
    margin: 5px;
}




/************************************/

/***********our section***************/

#our {
    margin: 13.8rem 0 17.8rem;
}

.our-img {
    display: flex;
    justify-content: space-evenly;
    padding-top: 6rem;
}

.our-img img {
    height: 4rem;
}

/**************************************/

/************client************/

.client-container {
    margin-left: calc((100% - 141rem) / 2);
}

#client {
    margin: 17.8rem 0;
}

#client .titel{
    padding-left: 3rem;
}

#client .titel h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 70px;
    letter-spacing: 0.14em;
    color: #626262;
}

#client .titel h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    color: #020202;
    margin-bottom: 1.8rem;
}

#client .titel P {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #626262;
    margin-bottom: 13rem;
}

#client .swiper-slide{
    margin-left: 4.8rem;
}

.client-Swiper .swiper-slide .client-mani-slider {
    width: 39.9rem;
    height: 43.2rem;
    background-color: #fff;
    box-shadow: 0 8PX 60PX 0 rgba(0, .0, 0, 0.15);
    border-radius: 1rem;
}


.swiper-slide .client-img {
    margin-left: 13rem;
    margin-bottom: -6rem;

}

.client-mani-slider .client-name {
    text-align: center;
    padding-top: 20%;
    padding-bottom: 5rem;
}

.client-mani-slider .client-name h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.client-mani-slider .client-name p {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #858585;
}

.client-mani-slider .client-data {
    padding-left: 5rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #858585;
}

.client-mani-slider .client-data img {
    padding-bottom: 1.8rem;
}


.client-slide-section {
    position: relative;
    padding-top: 1.5rem;
}

.client-slide-section .prev2 {
    right: 26rem;
}

.client-slide-section .next2 {
    right: 13rem;
}

.client-slide-section .next2,
.client-slide-section .prev2 {
    position: absolute;
    top: -7rem;
    width: 7rem;
    height: 7rem;
    padding-top: 2rem;
    text-align: center;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 8px 50px 0 rgba(0, .0, 0, 0.3);
}

.prev2:after {
    content: 'prev';
}

.next2:after {
    content: 'next';
}

.client-slide-section .prev2::after {
    font-family: swiper-icons;
    font-size: 2.7rem;
    text-transform: none !important;
    letter-spacing: 0;
    color: #727272;
    font-variant: initial;
    line-height: 1;
}

.client-slide-section .next2::after {
    font-family: swiper-icons;
    font-size: 2.7rem;
    text-transform: none !important;
    letter-spacing: 0;
    color: #727272;
    font-variant: initial;
    line-height: 1;
}

/****************************/


/*******subcribe*************/

#subcribe {
    background: url(../image/young-woman-hiker-taking-photo-with-smartphone-mountains-peak-winter.jpg);
    background-size: 100%;
    height: 54rem;
    position: relative;
    background-repeat: no-repeat;
}

#subcribe::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0 0 0 / 0.4);
    
}

#subcribe .main-subcribe    {
    position: relative;
    z-index: 9;
}
.type {
    width: 67.6rem;
    height: 6.9rem;
    background-color: #fff;
    border-radius: 5rem;
    margin: 0 auto;
    margin-top: 8.8rem;
    display: flex;
    justify-content: space-between;

}

.type h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: #9B9B9B;
    padding: 1.7rem;
}

.type .type-btn {
    margin: 0.7rem;
}

.type .type-btn button {
    border: none;
    padding: 1.8rem 3rem;
    background-color: #000;
    color: #fff;
    font-size: 1.8rem;
    width: 14.6rem;
    height: 5.5rem;
    border-radius: 7.2rem;

}

/*****************************/


/*********footer section
**************/

#top {
    margin: 8rem 0;
}

.buttom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.traveller p {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #6C6C6C
}


.contact h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
   color: #000;
}

.contact ul li a:hover,
.contact ul li a:hover i{
    color: #069ABA;
}

.contact ul li {
    list-style: none;
}

.contact ul li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #6C6C6C;
    display: inline-block;
}

.contact ul li i {
    padding-right: 1rem;
    font-size: 1.5rem;
    color: #000;
}

.quick h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    color: #000000;
}

.quick ul li {
    list-style: none;
}


.quick ul li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #6C6C6C;
}

.quick ul li a:hover {
    color: #069ABA;
}

.follow h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    color: #000000;
}


.follow a i {
    font-size: 2rem;
    padding: 0 1rem 0 0;
    color: #000;
}

.follow a i:hover {
    color: #3B5998;
}

.follow a:nth-child(3) i:hover {
    color: skyblue;
}

.follow a:last-child i:hover {
    color: deeppink;
}

.follow a:nth-child(4) i:hover {
    color: red;
}

.copyright p {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #DFDFDF;
    background-color: #000;
    height: 8.9rem;
    padding-top: 5rem;
}

/********************/


/******responsive***********/

/* 1366 - 1440 (laptop)*/
@media screen and (max-width: 1440px) {
    .container {
        max-width: 134rem;
    }

    header .container {
        padding: 0.5rem 2rem;
    }

    #hero {
        /* height: 100vh; */
        height: 85rem;
    }

    .hero-data h1 {
        font-size: 8rem;
        line-height: 10rem;
    }

    #explore {
        margin: 10.5rem 0;
    }

    .swiper-wrapper {
        padding: 0px 0px 60px 0px;
    }
    .main-titel h2 {
        font-size: 55px;
        line-height: 65px;
        margin-bottom: 2rem;
    }

    .explore-slider-section .swiper-button-prev,
    .swiper-button-next {
        width: 6rem;
        height: 6rem;
    }

    #why {
        margin: 10.5rem 0;
    }
    
    #why .why_data h1 {
        font-size: 55px;
    }

    .why_images {
        margin: 0 70px;
    }
    .why_btn .prev-1, .why_btn .next-1 {
        width: 6.5rem;
        height: 6.5rem;
    }

    #our {
        margin: 10rem 0 10rem;
    }

    .client-container {
        margin-left: calc((100% - 134rem) / 2);

    }

    #client .swiper-slide{
        margin-left: 4rem;
    } 
    #client .titel h2 {
        font-size: 55px;
        line-height: 60px ;
    }
    #client .titel h3 {
        font-size: 28px;
        line-height: 65px
    }
    #client .titel P {
        line-height: 30px;
    }
    .client-slide-section .prev2 {
        right: 23rem;
    }
    
    .client-slide-section .next2 {
        right: 11rem;
    }
    
    .client-slide-section .next2,
    .client-slide-section .prev2 {
        width: 6.5rem;
        height: 6.5rem;
    }
    .main-titel1 h2 {
        font-size: 55px;
    }
     .type {
         margin-top: 6.8rem
     }
     .traveller1 img{
        width: 33rem;
        height: 7rem;
     } 
    
}

/* 1200 - 1365 (big ipad) 
@media screen and (max-width: 1365px) {
    .container {
        max-width: 95%;
    }

    header nav ul li {
        padding: 1rem;
    }

    .hero-data h1 {
        font-size: 7rem;
        line-height: 7rem;
    }

    #explore {
        margin: 10.5rem 0;
    }

    .main-titel h2 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 1.5rem;
    }

    .explore-slider-section .swiper-button-prev,
    .swiper-button-next {
        width: 5rem;
        height: 5rem;
    }

    #hero .search-data {
        width: 60rem;
        height: 6rem;
    }

    #hero .search-data .explore-btn {
        padding: 1.5rem 2rem;
    }

    #why {
        margin: 10.5rem 0;
    }

    .why_images {
        margin: 0 70px;
    }

    .swiper-slide .card-img img {
        height: 80%;
    }

    .client-container {
        margin-left: calc((100% - 95%) / 2);
    }


}
*/

/* 992 - 1199 (big tablet) 
@media screen and (max-width: 1199px) {
    .container {
        max-width: 95%;
    }

    header nav ul li {
        padding: 1rem;
    }

    #why {
        margin: 10.5rem 0;

    }

    #main-header .container .logo img {
        width: 15rem;
        height: 4rem;
    }

    .our-img {

        padding: 0 2rem;
    }

}
*/
 
