* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* /10px / 16px = 0.625 =0 62.5  */
    font-size: 62.5%;
    /* font-size: 10px; */
}

body {
    font-family: 'poppins';
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 137rem;
    /* height: 600px; */
    margin: 0 auto;
    /* background-color: aquamarine; */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}




/**********header**********/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s;
    z-index: 11;
}

header li a {
    color: #000;
    padding: 20px 17px;
}

header .container {
    padding: 2rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li:hover {
    background-color: #000;
    transition: all 0.5s;
}

header nav ul li ul li,
header nav ul li ul li a {
    width: 100%;
}


header nav ul li li ul {
    position: absolute;
    top: 0;
    left: 17.7rem;
}

header nav ul li {
    position: relative;
}

header nav ul li ul {
    display: block;
    position: absolute;
    top: 6.3rem;
    left: 0;
    background-color: gray;
    display: none;
}

header nav ul li:hover>ul {
    display: inline-block;
}


header nav ul li a {
    color: #fff;
    font-size: 1.5rem;
    padding-left: 1.5rem;
}

header nav ul li {
    display: inline-block;
    padding: 2rem 3.3rem;
}

header nav {
    margin-left: auto;
}

header .search {
    color: #fff;
    font-size: 1.5rem;
    padding-left: 3.3rem;
}

.container nav>i,
#menu>i {
    display: none;
}

nav ul li a:hover i {
    transform: rotate(90deg);
}

.dark-header {
    background-color: #000;
}


@media screen and (max-width:768px) {

    nav>ul {
        position: absolute;
        width: 70%;
        height: 100vh;
        background-color: skyblue;
        top: 0;
        right: 0;
        transition: all 1s;
    }

    header nav ul li {
        display: block;
    }

    header nav ul li ul,
    header nav ul li ul li ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    header nav ul li ul li>a {
        padding-left: 40px;
    }

    header nav ul li ul li ul li>a {
        padding-left: 60px;
    }

    header nav ul li a {
        width: 100%;
    }

    nav ul>i {
        padding: 20px;
        font-size: 20px;
        float: right;
        z-index: 999;
        position: relative;
        display: inline-block !important;
    }

    nav>i {
        font-size: 20px;
        padding: 20px;
        display: inline-block !important;
    }

    .showHide {
        right: -70%;
    }
}

/****************************/



/***********hero section*********/

#hero {
    background: url(../image/photographer-hand-holding-camera-standing-viewpoint-clouds-panorama-viewpoint-sunrise.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0 0 0 / 0.3);
}

.hero-data {
    position: absolute;
    top: 30%;
}

.hero-data h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 110px;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.hero-data p {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #CFCFCF;
    margin-bottom: 3rem;
}

.hero-data span {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #ECECEC;
}

#hero .search-data {
    width: 73.6rem;
    height: 7.8rem;
    border-radius: 7.2rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem 1rem 1rem 2.3rem;
    margin-bottom: 3rem;
}

#hero .search-data select {
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #9B9B9B;
    line-height: 3.6rem;

}

#hero .search-data .explore-btn {
    border: none;
    padding: 1.8rem 3rem;
    background-color: #000;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 7.2rem;
}


/***********************************/



/*******explore titel***********/

#explore {
    margin: 17.8rem 0;
}

.main-titel h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #020202;
    margin-bottom: 3rem;
}

.main-titel p {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #878787;
}



.explore-slider .swiper-slide:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 25%);
    transform: translateY(-1rem);
    transition: all 0.5s;
}

.swiper-slide {
    border-radius: 1rem;
    padding-top: 5rem;
}

.swiper-slide .card-img {
    height: 36rem;
}

.swiper-slide .card-img img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.swiper-wrapper {
    margin-top: 2rem;
    padding: 20px 0;
}

.explore-slider .card-text {
    position: relative;
    padding: 1rem 1rem 2rem 1rem;
}

.explore-slider .card-text h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.explore-slider .card-text p {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #555555;
}

.explore-slider .card-text .explore-circle {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: absolute;
    top: -6rem;
    right: 3rem;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
}

.explore-slider .explore-circle span {
    font-weight: 400;
    font-size: 72px;
    line-height: 126px;
    color: #000000;
    text-align: center;
    margin-left: 2rem;
}

.swiper-wrapper .card-text {
    opacity: 0;
    border-radius: 0 0 1rem 1rem;

}

.explore-slider .swiper-slide:hover .card-text {
    opacity: 1;
}


.explore-slider .swiper-slide:hover .card-img img {
    border-radius: 1rem 1rem 0 0;
    height: 32rem;
}

.explore-slider-section {
    position: relative;

}

.explore-slider-section .swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 2rem;
}


.explore-slider-section .swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 0;
    width: 7rem;
    height: 7rem;
    color: #000;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 20%);
}



/**********************************/

/**********why section************/

#why {
    background: url(../image/pexels-mengliu-di-3064079.jpg);
    background-size: 100% 50rem;
    position: relative;
    background-repeat: no-repeat;
}

.why-slide {
    width: 12   0rem;
}


.main-titel1 h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    margin-bottom: 3rem;
    padding-top: 2rem;
}

.main-titel1 p {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #878787;
}

#why .swiper-slide {
    background-color: #fff;
    height: 50rem;
    padding-left: 1.5rem;
    justify-content: space-around;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 30%);
}

.why-slide .swiper-slide .why-img {
    padding-bottom: 3rem;
}

.why-slider-section .swiper-wrapper {
    padding-top: 15rem;
}

.why-slide .why-text h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    padding: 1rem 0;

}

.why-slide .why-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #858585;
    padding-bottom: 2rem;
}

.why-slide a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.why-slider-section {
    position: relative;
}

.why-slider-section .prev-1,
.why-slider-section .next-1 {
    position: absolute;
    top: 4rem;
    width: 7rem;
    height: 7rem;
    background-color: #fff;
    padding-top: 2.8rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 8px 50px 0 rgba(0 0 0 / 0.1);
}

.why-slider-section .prev-1 {
    left: 0;
}

.why-slider-section .next-1 {
    right: 0;
}

.next-1:after {
    content: 'next';
}

.prev-1:after {
    content: 'prev';
}

.why-slider-section .next-1:after,
.why-slider-section .prev-1:after {
    font-family: swiper-icons;
    font-size: 2rem;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

/************************************/

/***********our section***************/

#our {
    margin-top: 18rem;
}

.our-img {
    display: flex;
    justify-content: space-evenly;
    padding-top: 6rem;
}

.our-img img {
    height: 4rem;
}

/**************************************/


/********client************/

#client {
    margin: 17.8rem 0;
}

.client-container{
    margin-left:  calc((100% - 137rem) / 2);
   
}

.titel h5 {

    width: 313px;
    height: 70px;
    left: 43px;
    top: 3489px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 70px;
    letter-spacing: 0.14em;
    color: #626262;
}

.titel h2 {
    width: 596px;
    height: 70px;
    left: 44px;
    top: 3551px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    color: #020202;
}

.titel p {
    width: 443px;
    height: 80px;
    left: 43px;
    top: 3639px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #626262;
    padding-bottom: 5rem;
}

.client-slider {
    padding-top: 10rem;
}


.client-slider .swiper-slide {
    position: relative;
    background-color: #fff;
    height: 45rem;
    padding-left: 1.5rem;
    justify-content: space-around;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 30%);

}

.client-slider .swiper-slide img {
    position: absolute;
    top: -10%;
    left: 11.5rem;

}

.client-slider .swiper-slide h4 {
    position: absolute;
    /* width: 172px;
    height: 70px; */
    left: 12.5rem;
    top: 10rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 70px;
    text-align: center;
    color: #000000;
}

.client-slider .swiper-slide h5 {
    position: absolute;
    /* width: 172px;
    height: 70px; */
    left: 10rem;
    top: 10rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 70px;
    text-align: center;
    color: #000000;
}

.client-slider .swiper-slide h6 {
    position: absolute;
    /* width: 78px;
    height: 70px; */
    left: 14rem;
    top: 13rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 70px;
    text-align: center;
    color: #858585;
}

.client-slider .swiper-slide .star {

    position: absolute;
    width: 400px;
    height: 21px;
    left: -8rem;
    top: 25rem;

}

.client-slider .swiper-slide .star p {
    position: absolute;
    left: 11rem;
    top: 4rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #858585;
    
}

.why-slider-section .why-btn{
    display: flex;
}

.client-slider-section .prev-2,
.client-slider-section .next-2 {
    
    width: 7rem; 
    height: 7rem;
    background-color: #fff;
    padding-top: 2.8rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 5px 5px  5px 5px rgba(0 0 0 / 20%);
}

.client-slider-section .prev-2 {
    left: 0;
}

.client-slider-section .next-2 {
    right: 0;
}

.next-2:after {
    content: 'next';
}

.prev-2:after {
    content: 'prev';
} 

.client-slider-section .next-2:after,
.client-slider-section .prev-2:after {
    font-family: swiper-icons;
    font-size: 2rem;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
/*****************************/